
.chat__input {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  
  background-color: rgba(0,0,0,.01);
  border-top: 1px solid #eee;
}

.chat__input input {
  padding: 1em;
  border: none;
  background-color: inherit;
  width: 100%;
}

.chat__input input:focus {
  outline: none;
}

.chat__input button {
  padding: .3em 1em;
  background-color: rgb(83, 178, 255);
  border: none;
  color: #fff;
  cursor: pointer;
}